@import '../../styles/variables';

.dashboard {
  padding: 2rem;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 2rem;
    color: $primary-color;
    text-align: center;
  }

  .add-device-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .device-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .device-card {
    background-color: rgb(60, 191, 224);
    color: white;
    flex: 0 1 250px; // Isso faz com que os cards tenham uma largura base de 250px, mas possam encolher se necessário
    max-width: 300px; // Limita a largura máxima do card
    h2 {
      text-align: center;
      color: rgb(68, 68, 68);
    }
  }
}